 html, body {
   background-color: #e9ebee;
   margin: 0;
   padding: 0;
   position: relative;
   height: auto;
 }

 .header {
   font-weight: bold;
   display: inline-block;
   background-color: #fab316;
   width: 100%;
 }

 nav a {
   float: left;
   display: block;
   color: #1a242d;
   text-align: center;
   padding: 0.875em 1em;
   text-decoration: none;
   font-size: 1.063em;
   font-family: Arial, Helvetica, sans-serif;
 }

 nav a:hover {
   border-bottom: 0.125em solid #1a242d;
   color: #1a242d;
 }

 nav a.active {
   color: #1a242d;
   border-bottom: 0.125em solid #1a242d;
 }

 .logo img {
   width: 70px;
   height: 70px;
 }

 
 .contato-form p {
   margin: 30px 0 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
 }

 

 .contato-form label {
   display: block;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 18px;
   line-height: 25px;
   margin-bottom: 4px;
 }

 .contato-form input[type="text"], .contato-form input[type="number"], .contato-form input[type="email"] {
   display: block;
   width: 100%;
   border: 4px solid #300314;
   background: none;
   padding: 7px 10px;
   margin-bottom: 10px;
   outline: none;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 14px;
 }

 .excluir_mensa input[type="text"]{
  width: 20px !important;
}

 .contato-form.excluir input {
   width: 50px;
   margin-top: 20px;
 }

 .contato-form textarea {
   display: block;
   width: 100%;
   height: 120px;
   border: 4px solid #300314;
   background: none;
   padding: 7px 10px;
   margin-bottom: 20px;
   outline: none;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 14px;
 }

 .titulo_form {
   width: 40%;
 }

 .textarea_enviar {
   height: 240px;
   width: 50%;
   line-height: 1.5;
   border-radius: 5px;
   border: 1px solid #ccc;
   box-shadow: 1px 1px 1px #999;
   resize: none;
   display: block;
   border: 4px solid #300314;
   background: none;
   padding: 7px 10px;
   margin-bottom: 20px;
   outline: none;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 14px;
 }

 .titulo_form {
   display: block;
   width: 50%;
   border: 4px solid #300314;
   background: none;
   padding: 7px 10px;
   margin-bottom: 10px;
   outline: none;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 14px;
 }

 .posicao_form {
   display: block;
   width: 30%;
   border: 4px solid #300314;
   background: none;
   padding: 7px 10px;
   margin-bottom: 10px;
   outline: none;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 14px;
 }

 .enviar_post_form, .cancelar_post_form {
   position: relative;
   height: 24px;
   vertical-align: bottom;
   margin-bottom: 30px;
   margin-left: 1 !important;
 }

 .form_wrapper {
   margin-top: 10px;
 }

 .form_search {
   width: 70%;
 }

 .form_search::placeholder {
   font-weight: 400;
 }

 .form_search_button {
   position: relative;
   height: 24px;
   vertical-align: bottom;
   width: 35px;
   margin-bottom: -10px;
   margin-left: 1 !important;
 }

 .form_search_button img {
   height: 100%;
 }

 .form_login, .form_logout {
   margin-top: 10px;
 }

 .usuario_form::placeholder, .senha_form::placeholder {
   font-weight: 400;
 }

 .imagem_post {
   width: 350px;
   height: auto;
 }
 

 .form_crud {
   display: inline-block;
   margin: 20px 0;
 }

 .form_crud_add {
   margin-bottom: 30px;
 }

 .form_crud_normal {
   margin-bottom: 30px;
   margin-top: 10px;
 }

 .botao_sim_exclui {
   margin-left: 0 !important;
 }

 .label-altera {
   margin-top: 20px;
 }

 .imagem_post.D {
   float: right;
 }

 .imagem_post.E {
   float: left;
 }

 .title-show {
   font-size: 28px;
   font-weight: 500;
   margin-bottom: 10px;
 }

 .data-show {
   font-size: 12px;
   margin-bottom: 20px;
   color: darkgray;
 }

 .text-show {
   font-size: 14px;
   margin-bottom: 20px;
 }

 .botao_base, .form_search_button, .botao_voltar {
   border-radius: 5px;
   background: white;
   color: black;
   box-shadow: 0 6px #525252;
   transition: none;
   border: none;
   font-family: inherit;
   font-size: inherit;
   cursor: pointer;
   display: inline-block;
   font-weight: 400;
   outline: none;
   position: relative;
   top: 50%;
 }

 .botao_voltar {
   clear: both;
   float: left;
   display: block;
   position: relative;
   margin-top: 20px;
 }

 .form_search_button {
   transform: translateY(-50%);
 }

 .botao_base:hover, .form_search_button:hover, .botao_voltar:hover {
   box-shadow: 0 4px #525252;
   top: 2px;
 }

 .botao_base:after, .form_search_button:after, .botao_voltgar:after {
   content: '';
   position: absolute;
   z-index: -1;
   transition: all 0.3s;
 }

 a {
   text-decoration: none;
   color: black;
 }

 .botao_base:active, .form_search_button:active, .botao_voltar:active {
   box-shadow: 0 0 #525252;
   top: 6px;
 }

 .wrapper_content {
   margin-top: 20px;
   min-height: calc(100vh - 148px);
 }

 .exibe_mensagem_post {
   margin-top: 15px;
   margin-bottom: 10px;
   border: 1px solid;
   font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .exibe_mensagem_post td+td {
   padding-left: 20px;
 }


 .full-height {
   width: 100%;
 }

 .sobre_img {
   float: left;
   margin-right: 20px;
 }

 .sobre_nos h1 {
   font-size: 32px;
 }

 .sobre_nos ul {
   list-style: disc;
   margin: 10px 0;
   padding-left: 20px;
 }

 .botao_form_sair {
   border-radius: 5px;
   background: white;
   color: black;
   box-shadow: 0 6px #525252;
   transition: none;
   border: none;
   font-family: inherit;
   font-size: inherit;
   color: 14px;
   cursor: pointer;
   display: inline-block;
   font-weight: 400;
   outline: none;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   margin-left: 10px;
 }

 .botao_form_sair:hover {
   box-shadow: 0 4px #525252;
   top: 2px;
 }

 .botao_form_sair:after {
   content: '';
   position: absolute;
   z-index: -1;
   transition: all 0.3s;
 }

 .botao_form_sair:active {
   box-shadow: 0 0 #525252;
   top: 6px;
 }

 section .container {
   margin: 0px auto;
 }

 .container {
   height: 100%;
 }

 body>.container {
   height: 100%;
   padding: 20px 0;
 }

 .container .sobre {
   min-height: 100vh;
 }

 #rodape {
   width: 100%;
   margin: 0 auto;
   background-color: #1a242d;
   /* height: 9vh; */
 }

 #copyright {
   font-size: 0.687em;
   color: #d9d9d9;
   display: inline-block;
   padding: 1em 0;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   position: static;
 }

 #copyright a {
   color: white;
   position: relative;
 }

 #rodape a {
   padding-top: 10px;
   display: inline-block;
   z-index: 10;
 }

 #rodape a svg {
   width: 100%;
   fill: white;
 }

 textarea {
   line-height: 1.5;
   border-radius: 5px;
   border: 1px solid #ccc;
   box-shadow: 1px 1px 1px #999;
   resize: none;
 }

 .teste {
   display: flex;
   flex-direction: column;
   margin: 200px 0 0 0 auto;
   justify-content: center;
 }
 .teste_2 {
  margin: 0 auto;

 }
 .teste_3
 {
  margin: 0 auto;
  display: flex;

 }
 .teste_4
 {
  margin: 0 auto;
  display: flex;
 }