 
 html, body {
     background-color: #e9ebee;
     height: 100%;
     margin: o;
     padding: 0;
 }

.header {
    font-weight: bold;
    display: inline-block;
    background-color: #fab316;
    width: 100%;

 }

 nav a {
    float: left;
    display: block;
    color: #1a242d;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
    font-size: 1.063em;
    font-family: Arial, Helvetica, sans-serif;
  }  

  nav a:hover {
    border-bottom: 0.125em solid #1a242d;
    color: #1a242d;
  }
 
  nav a.active {
    color:#1a242d;
    border-bottom: 0.125em solid #1a242d;
  }
  

  .logo img {
       width: 30%;
       height: 30%; 
  }

  #rodape {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    display: inline-block;
    bottom: 0;
    left:0;
    background-color: #1a242d;
    margin-top: 10%;
    height: 60px;
  }


  #copyright {
    font-size: 0.687em;
    color: #d9d9d9;
    display: inline-block;
    padding: 1em 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
  }

  #copyright a {
    color: white;
    position: relative;
  }

  #rodape a {
    padding-top: 10px;
    display: inline-block;
    z-index: 10;
  }
  #rodape a svg {
    width: 100%;
    fill: white;
  }

  textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    resize: none;
}
